{% extends "base.html.twig" %}

{% block title %}Projet1_Symfony6 - Accueil
{% endblock %}

{% block body %}

<div class="container mt-4">
	<div class="jumbotron">
		<h1 class="display-4">Bienvenue sur Projet1_Symfony6 </h1>
		<p class="lead">Projet1_Symfony6 est une application qui va permettre de créer des recettes à base d'ingrédients.</p>
		<hr class="my-4">
		<p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="#" role="button">Registration</a>
		</p>
	</div>
</div>

{% endblock %}